@model i04.Web.Models.Home.ChartsDataViewModel

@{
    ViewBag.Title = "GetCount";
}

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="container col-lg-12 col-sm-12 col-md-12">
    <h2>
        Sorting using "Bubble Sort"
    </h2>
    <hr />
    <div>
        @using (Html.BeginForm("Charts", "Charts", FormMethod.Post))
        {
            @Html.LabelFor(m => Model.Amount, "Enter the ammount of random numbers ");
            @Html.TextBoxFor(m => Model.Amount, new { @class = "text-b" });
            <input type="submit" value="Enter" />
        }
    </div>
    <hr />
    @for (var i = 0; i < Model.Numbers.Length; i++)
    {
        <div style="float: left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <canvas id="myChart+@i"></canvas>
        </div></div>




       

        <script type="text/javascript">
            $(function () {
                var data = getData();
                AutoFollow(data);
            });

            function getData() {
                var dateValue = [];
                var countValue = [];
                $.ajax({
                    url: "/charts/GetCount/",
                    dataType: 'json',
                    async: false
                }).done(function (data) {
                    data.forEach(function (obj) {
                        dateValue.push(obj.DateColumn);
                        countValue.push(obj.Count);
                    });
                });
                return {
                    dateValue: dateValue,
                    countValue: countValue
                };
            }


            function AutoFollow(data) {
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx,
                    {
                        type: 'bar',
                        data: {
                            labels: data.dateValue, // here i want to show my date value
                            datasets: [
                                {
                                    label: 'AutoFollow',
                                    data: data.countValue, // here show my total count date wise
                                    backgroundColor: "rgba(153,255,51,1)"
                                }, {
                                    label: 'Manual',
                                    data: [30, 29, 5, 5, 20, 3, 10],
                                    backgroundColor: "rgba(255,153,0,1)"
                                }
                            ]
                        }
                    });
            }
        </script>

