@{
    Layout = null;
}
<h3>Merge sort</h3>
<p>
    In computer science, merge sort (also commonly spelled mergesort) is an efficient, general-purpose, comparison-based sorting algorithm.
    Most implementations produce a stable sort, which means that the implementation preserves the input order of equal elements in the sorted output.
    Mergesort is a divide and conquer algorithm that was invented by John von Neumann in 1945. A detailed description and analysis of bottom-up mergesort
    appeared in a report by Goldstine and Neumann as early as 1948.
</p>




<hr>
<p><b>Conceptually, a merge sort works as follows:</b></p>

<p>
    
    <ul>
    <li>Divide the unsorted list into n sublists, each containing 1 element (a list of 1 element is considered sorted).</li>
    <li> Repeatedly merge sublists to produce new sorted sublists until there is only 1 sublist remaining. This will be the sorted list.</li>
    </ul>
    
   
</p>
<img alt="Merge-sort-example-300px.gif" src="//upload.wikimedia.org/wikipedia/commons/c/cc/Merge-sort-example-300px.gif" width="300" height="180" data-file-width="300" data-file-height="180">