@model IEnumerable<i04.Web.Models.Algoritms>
@{
    Layout = null;
}

@{
    ViewBag.Title = "Buble Sort";
}


<div class="col-md-4">
    @{foreach (var item in Model)
        {
            <ul><li>@item.Numbers</li></ul>
        } }
</div>
