@model List<int>[]

<html>
<head>
    @{
        ViewBag.Title = "Buble Sort";
    }
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <script>


        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        function getColors(amount) {
            var retval = getRandomColor();
            for (var i = 0; i < amount - 1; i++) {
                retval += ', ' + getRandomColor();
            }
            return retval;
        }

    </script>

</head>
<body>
    <hr />
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="container">
        <div style="width:80%;height:80%">
            <canvas id="bar-chart+@i"></canvas>
        </div>
        <script>
         new Chart(document.getElementById("bar-chart+@i"), {
             type: 'bar',
             data: {
                 labels:[ @String.Join(",", Model.ElementAt(i))],
                 datasets: [
                     {
                         label: "Population (millions)",
                         backgroundColor: getColors(@Model.ElementAt(i).Count).split(','),


                         data: [@String.Join(",", Model.ElementAt(i))]
                     }
                 ]
             },
         options: {
             legend: { display: false },
             title: {
                 display: true,
                     text: 'Predicted world population (millions) in 2050'
             }
         }
         });
        </script>
    </div>
    }
    <br />
</body>

</html>
