@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="img-container">
        <img src="@Url.Content("~/content/images/under-construction.jpg")" alt="Under Constraction" />
    </div>
</div>

